<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false" version="3.0">
  <display-name>frontcache.io</display-name>

   <!-- hystrix streams -->
	<servlet>
		<description />
		<display-name>ProxyStreamServlet</display-name>
		<servlet-name>ProxyStreamServlet</servlet-name>
		<servlet-class>com.netflix.hystrix.dashboard.stream.ProxyStreamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProxyStreamServlet</servlet-name>
		<url-pattern>/resources/hystrix/proxy.stream</url-pattern>
	</servlet-mapping>
  
	<!-- For web context -->
 	<servlet>
		<servlet-name>hello-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			    classpath:/META-INF/spring-mvc-config.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
		
	<!-- For root context -->
 	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		   classpath:/META-INF/spring-core-config.xml
		</param-value>
	</context-param>


<!-- 
    Uncommend following section to enable security for Frontcache console
    Security Constraint  

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Frontcache Console</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>frontcache-console</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Frontcache Console Application</realm-name>
	</login-config>

	<security-role>
		<description>
            The role that is required to access Frontcache Console
        </description>
		<role-name>frontcache-console</role-name>
	</security-role>
-->
		
</web-app>