.dependencies {
		height: 260px;
}

#monitor .container {
	padding-left: 20px;
	padding-right: 20px;
	height: 280px;
}

#monitor .row {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#monitor .spacer {
	width: 100%;
	margin: 0 auto;
	padding-top:4px;
	clear:both;
}


#monitor .last {
	margin-right: 0px;
}

#monitor .menubar {
	overflow: hidden;
	border-bottom: 1px solid black;
}

#monitor .menubar div {
	padding-bottom:5px;

	margin: 0 auto;
	overflow: hidden;
	
	font-size: 80%;
	font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
	
	float:left;
}

#monitor .menubar .title {
	float: left;
	padding-right: 20px;
	
	font-size: 110%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	
	vertical-align: bottom;
}

#monitor .menubar .menu_actions {
	float: left;
	position:relative;
	top: 4px;
}

#monitor .menubar .menu_legend {
	float: right;
	position:relative;
	top: 4px;
	
}

#monitor h3.sectionHeader {
	color: black;
	font-size: 110%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: lightgrey;
}

#monitor .success {
	color: green;	
}

#monitor .shortCircuited {
	color: blue;	
}

#monitor .timeout {
	color: #FF9900;	 /* shade of orange */
}

#monitor .failure {
	color: red;	
}

#monitor .rejected {
	color: purple;
}
	
#monitor .exceptionsThrown {
	color: brown;
}

#monitor .badRequest {
	color: lightSeaGreen;
}

@media screen and (max-width: 1100px) {
	#monitor .container {
		padding-left: 5px;
		padding-right: 5px;
	}
}
